*{
  box-sizing: border-box;
}

body{
  background-color: black;
  font-family: sans-serif;
}

h1{
  color: white;
}

input{
  all: unset;
  font:15px system-ui;
  color:#fff;
  /*height: 100%;
  width: 100%;*/
  padding: 6px 9px
}

label{
  color: #fff;
  background-color: black;
}


