h1 {
  color: white; /* Set text color to blue */
  font-size: 24px; /* Set font size to 24 pixels */
  
}



/* Add more CSS rules as needed */
body {
    background-color: darkblue; /* Set background color to light gray */
}

#my-id {
    font-weight: bold; /* Set text to bold */
}
