*{
  box-sizing: border-box;
}

body{
  background-color: black;
  font-family: sans-serif;
}

h1{
  color: white;
}

input{
  all: set;
  font:15px system-ui;
  color:black;
  padding: 6px 9px
}

label{
  color: #fff;
  background-color: black;
}


