<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Web madlibs generator</title>
</head>
<body>
  <h1>Welcome to the Madlib generator:</h1>
  
  <form action="{{ url_for('process') }}" method="post">
       {% for word in table_content %}
            <label for="input{{ word }}">Enter a word for: {{ word }}:</label>
            <input type="text" id="input{{ word }}" name="input{{ word }}"><br>
        {% endfor %}
    
        <button type="submit">Submit</button>
    </form>
</body>
</html>

